<section class="px-3">
    <div class="pt-3 pb-3">
        <p class="d-flex gap-2 align-items-center"><span class="activePageArrow">></span><span
                class="activePageTag">Employees</span></p>
    </div>

    <div class="d-flex justify-content-between">
        <div>
            <h2 class="employeeTitle pb-2">Employees (count)</h2>
            <p class="employeeDiscription">All the Employees of the company are listed here</p>
        </div>
        <div>
            <button class="addNewEmployee d-flex gap-2"><i class="bi bi-plus-lg addIcon"></i><strong>Add New
                    Employee</strong></button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4 p-0">
            <form>
                <div class="input-group">
                    <span class="input-group-text p-2" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control p-2" placeholder="Search" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </form>
        </div>
    </div>
    <div class="container text-center">
        <div class="row gap-2">
            <div class="col">
                <div class="card cardSize">
                    <img src="" alt="">
                    <p>name</p>
                    <p>position</p>
                    <p>tag</p>
                    <p>Managment</p>
                    <p>emp ID</p>
                    <p>Joining Date</p>
                </div>
            </div>
            <div class="col">
                <div class="card cardSize">
                    <img src="" alt="">
                    <p>name</p>
                    <p>position</p>
                    <p>tag</p>
                    <p>Managment</p>
                    <p>emp ID</p>
                    <p>Joining Date</p>
                </div>
            </div>
        </div>
    </div>
</section>