label {
    font-size: .8rem;
    font-weight: bold;
}

input::placeholder {
    font-size: .8rem;
}

.alert {
    position: fixed;
    top: 20px;
    z-index: 1000;
    background-color: #aa8dff;
    border: 1px solid #845ef7;
    color: #fff;
}

.activePageArrow {
    color: #adb5bd;
}

.activePageTag {
    font-size: 12px;
    color: #845ef7;
    font-weight: 600;

}

.addNewEmployee {
    background-color: #845ef7;
    border: none;
    padding: .5rem 1.5rem;
    color: #f3f6ff;
    border-radius: 8px;
}

.addNewEmployee:hover {
    background-color: #9775fa;
}

.addIcon {
    font-size: 1rem;
}

.employeeTitle {
    font-size: 1.8rem;
}

.employeeDiscription {
    font-size: .8rem;
    color: #868e96;
}

//card section
//******************
.SectionCard {
    height: 68vh;
    overflow-y: auto;
}

.SectionCard::-webkit-scrollbar {
    width: 8px;
}

.SectionCard::-webkit-scrollbar-thumb {
    background: #845ef7;
}

.SectionCard::-webkit-scrollbar-thumb:hover {
    background: #9775fa;
}

.SectionCard::-webkit-scrollbar-thumb:active {
    background: #dbe4ff;
}


.employee_img {
    width: 2.5rem;
    height: 2.5rem;
}

.card_name {
    font-size: .9rem;
    margin: 0;
}

.card_font {
    font-size: .7rem;
}

.card_colorGray {
    color: #868e96;
}

.card_colorViolet {
    color: #845ef7;
}

.cardHighlight {
    background-color: #f3f0ff;
    padding: 1px 8px;
    border-radius: 2px;
}

.card_btnStructure {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.btn_editColor {
    background-color: #dbe4ff;
}

.btn_deleteColor {
    background-color: #ffe3e3;
}

.btn_deleteColor:hover {
    box-shadow: 0 0 10px red;
}

.btn_editColor:hover {
    box-shadow: 0 0 10px blue;
}

//form section
.form_div {
    border: 1px solid #868e96;
    border-radius: 5px;
    padding: 1rem;
}

.cancelBtn {
    padding: 0.5rem 5rem;
    border-radius: 5px;
    background-color: #f03e3e;
    border: none;
    color: #edf2ff;
}

.errorMsg {
    font-size: 12px;
    color: red;
}

//modal
//***********
.modal-dialog {
    max-width: 800px;
    margin: 50px auto;
}

.modalCancel {
    border: none;
    padding: .5rem 1.5rem;
    color: #edf2ff;
    border-radius: 8px;
    background-color: #f03e3e;
}

.not_found {
    color: #845ef7;
}