<div class="paginationDiv">
    <div class="buttonDiv">
        <button title="First Page" (click)="goToFirstPage()" class="paginationBtn"><i
                class="bi bi-skip-backward-fill"></i></button>
        <button title="Previous Page" (click)="previousPage()" class="paginationBtn"><i
                class="bi bi-caret-left-fill"></i></button>
    </div>
    <div class="buttonDiv">
        <button title="page {{firstButton}}" *ngIf="(firstButton>0)" (click)="goToPage(firstButton)"
            class="paginationBtn">{{firstButton}}</button>
        <button title="page {{secondButton}}" *ngIf="(secondButton>0)" (click)="goToPage(secondButton)"
            class="paginationBtn">{{secondButton}}</button>
        <button title="page {{activeButton}}" (click)="goToPage(activeButton)"
            class="paginationBtnActive">{{activeButton}}</button>
        <button title="page {{fourthButton}}" *ngIf="(fourthButton<=getTotalPages())" (click)="goToPage(fourthButton)"
            class="paginationBtn">{{fourthButton}}</button>
        <button title="page {{fifthButton}}" *ngIf="(fifthButton<=getTotalPages())" (click)="goToPage(fifthButton)"
            class="paginationBtn">{{fifthButton}}</button>
    </div>
    <div class="buttonDiv">
        <button title="Next Page" (click)="nextPage()" class="paginationBtn"><i
                class="bi bi-caret-right-fill"></i></button>
        <button title="Last Page" (click)="goToLastPage()" class="paginationBtn"><i
                class="bi bi-skip-forward-fill"></i></button>
    </div>
</div>