.paginationDiv {
    display: flex;
    padding: 8px 16px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #845ef7;
}

.paginationBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f3effe;
    color: #f3effe;
    background-color: #845ef7;
}

.paginationBtn:hover {
    color: #845ef7;
    background-color: #f3effe;
}

.paginationBtnActive {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #845ef7;
    color: #845ef7;
    background-color: #f3effe;
}

.buttonDiv {
    display: flex;
    gap: .5rem;
}