<div class="d-flex justify-content-center">
    <div *ngIf="isShowAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your action was successful.
    </div>
</div>

<section class="px-lg-3 px-md-2">
    <div class="pt-md-2 pt-lg-3 pb-md-2 pb-lg-3">
        <p class="d-flex gap-2 align-items-center"><span class="activePageArrow">></span><span
                class="activePageTag">Dashboard</span></p>
    </div>
</section>

<div class="modal fade" id="projectListDeleteModal" tabindex="-1" aria-labelledby="projectListDeleteModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Conformation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm that you want this data deleted.
            </div>
            <div class="modal-footer">
                <button type="button" title="cancel deletion" class="addNewProject"
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" title="confirm deletion" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="afterDeleteGranted()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-md-1 mx-lg-3">
    <div class="col-md-6">
        <div class="mx-1">
            <h2 class="m-0">Project Metrics</h2>
            <div
                class="d-flex gap-md-2 gap-lg-3 gap-xl-5 my-md-2 my-lg-3 align-items-center doughnutChartDiv boxShadowDashboard">
                <div class="doughnutContainer ">
                    <canvas id="semiCircleDoughnut"></canvas>
                </div>
                <div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv completedColor"></div>
                        <p class="m-0">Completed Project</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv inProgressColor"></div>
                        <p class="m-0">In progress</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv pendingColor"></div>
                        <p class="m-0">Pending</p>
                    </div>
                </div>
            </div>
            <h2>Pending Projects</h2>
            <div class="boxShadowDashboard pendingProjectContainer p-lg-2">
                <div class="d-flex justify-content-between align-items-center projectContainer"
                    *ngFor="let project of pendingProjectList">
                    <p class="m-0">{{project.projectname}}</p>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-6">
        <h2>New Additions</h2>
        <div class="boxShadowDashboard p-md-3">
            <form>
                <label class="mb-1" for="projectName"><strong> Project newly committed</strong></label>
                <div class="d-flex gap-md-1 gap-lg-2 ">
                    <input type=" text" class="form-control" placeholder="New project name" [(ngModel)]="projectName"
                        name="projectName">
                    <button class="addNewProject" title="submit" (click)="addNewProject()" type="submit">Commit</button>
                </div>
            </form>
        </div>
        <div class="mt-4">
            <div class="d-flex pe-2">
                <h2>Total Projects</h2>
            </div>
            <div class="boxShadowDashboard totalProjectContainer p-lg-2">
                <div class="d-flex p-1 justify-content-between align-items-center projectContainer"
                    *ngFor="let project of projectlist;let index=index">
                    <p class="m-0">{{project.projectname}}</p>
                    <div class="d-flex flex-md-column flex-lg-row gap-3">
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class=" radioLabel" for="completed Radio button">completed</label>
                            <input [disabled]="editedIndex!==index" [ngClass]="{'activeRadioStyle':editedIndex==index}"
                                id="projectStatsRadio1" class="form-check-input radioStyle"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'completed'"
                                type="radio">
                        </div>
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class="radioLabel" for="progress Radio button">progress</label>
                            <input [disabled]="editedIndex!==index" [ngClass]="{'activeRadioStyle':editedIndex==index}"
                                id="projectStatsRadio2" class="form-check-input radioStyle"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'progress'"
                                type="radio">
                        </div>
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class="radioLabel" for="pending Radio button">pending</label>
                            <input [disabled]="editedIndex!==index" [ngClass]="{'activeRadioStyle':editedIndex==index}"
                                id="projectStatsRadio3" class="form-check-input radioStyle"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'pending'"
                                type="radio">
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <button class="btn_editColor card_btnStructure" title="edit button"
                            (click)="totalProjectEdit(index,project.slno)" *ngIf="editedIndex!==index"><i
                                class="bi bi-pencil-fill"></i></button>
                        <button *ngIf="editedIndex===index" class="btn_editColor card_btnStructure"
                            title="submit button" (click)="submitEdit()"><i class="bi bi-floppy"></i></button>
                        <button class="btn_deleteColor card_btnStructure" data-bs-toggle="modal"
                            data-bs-target="#projectListDeleteModal" title="delete button"
                            (click)="deleteTotalProjectItem(project.slno)"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>