<section class="px-lg-3 px-md-2">
    <div class="pt-3 pb-3">
        <p class="d-flex gap-2 align-items-center"><span class="activePageArrow">></span><span
                class="activePageTag">Dashboard</span></p>
    </div>
</section>

<div class="modal fade" id="projectListDeleteModal" tabindex="-1" aria-labelledby="projectListDeleteModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Conformation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm that you want this data deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="addNewProject" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="afterDeleteGranted()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-3">
    <div class="col">
        <div class="mx-1">
            <h2 class="m-0">Project Metrics</h2>
            <div class="d-flex gap-5 my-3 align-items-center doughnutChartDiv boxShadowDashboard">
                <div class="doughnutContainer ">
                    <canvas id="semiCircleDoughnut"></canvas>
                </div>
                <div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv completedColor"></div>
                        <p class="m-0">Completed Project</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv inProgressColor"></div>
                        <p class="m-0">In progress</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="chartFieldColordiv pendingColor"></div>
                        <p class="m-0">Pending</p>
                    </div>
                </div>
            </div>
            <h2>Pending Projects</h2>
            <div class="boxShadowDashboard pendingProjectContainer p-lg-2">
                <div class="d-flex justify-content-between align-items-center projectContainer"
                    *ngFor="let project of pendingProjectList">
                    <p class="m-0">{{project.projectname}}</p>
                </div>
            </div>


        </div>
    </div>
    <div class="col">
        <div>
            <h2>New Additions</h2>
            <div class="boxShadowDashboard p-lg-3">
                <form>
                    <div>
                        <label class="mb-1" for="projectName"><strong> Project newly committed</strong></label>
                        <div class="d-flex gap-md-1 gap-lg-2 ">
                            <input type=" text" class="form-control" placeholder="New project name"
                                [(ngModel)]="projectName" name="projectName">
                            <button class="addNewProject" (click)="addNewProject()" type="submit">Commit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-4">
            <div class="d-flex pe-2">
                <h2>Total Projects</h2>
            </div>
            <div class="boxShadowDashboard totalProjectContainer p-lg-2">
                <div class="d-flex justify-content-between align-items-center projectContainer"
                    *ngFor="let project of projectlist;let index=index">
                    <p class="m-0">{{project.projectname}}</p>
                    <div class="d-flex gap-3">
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class=" radioLabel" for="completed Radio button">completed</label>
                            <input [disabled]="editedIndex!==index" id="projectStatsRadio1" class="form-check-input"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'completed'"
                                type="radio">
                        </div>
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class="radioLabel" for="progress Radio button">progress</label>
                            <input [disabled]="editedIndex!==index" id="projectStatsRadio2" class="form-check-input"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'progress'"
                                type="radio">
                        </div>
                        <div class="d-flex flex-column align-items-center gap-1">
                            <label class="radioLabel" for="pending Radio button">pending</label>
                            <input [disabled]="editedIndex!==index" id="projectStatsRadio3" class="form-check-input"
                                name="projectProcessStatus{{index}}" [(ngModel)]="project.status" [value]="'pending'"
                                type="radio">
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <button class="btn_editColor card_btnStructure" (click)="totalProjectEdit(index,project.slno)"
                            *ngIf="editedIndex!==index"><i class="bi bi-pencil-fill"></i></button>
                        <button *ngIf="editedIndex===index" class="btn_editColor card_btnStructure"
                            (click)="submitEdit()"><i class="bi bi-floppy"></i></button>
                        <button class="btn_deleteColor card_btnStructure" data-bs-toggle="modal"
                            data-bs-target="#projectListDeleteModal" (click)="deleteTotalProjectItem(project.slno)"><i
                                class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>