.activePageArrow {
    color: #adb5bd;
}

.activePageTag {
    font-size: 12px;
    color: #845ef7;
    font-weight: 600;

}

.leave_managementSection {
    background-color: #f3effe;
    box-sizing: border-box;
}

.holiday_section {
    background-color: #fff;
    border-radius: 5px;
    height: 40rem;
    overflow-y: auto;
}

.text-justify {
    text-align: justify;
}

//paginator
.paginator_container {
    background-color: #845ef7;
    border-radius: 30px;
}